<div class="about-container">
    <div class="about-content">
        <h2>About This Application</h2>
        <p>
            Developed by Durgaprasad, this Inventory Management System is a streamlined solution designed to efficiently manage product data. The system enables users to seamlessly view, add, edit, and delete products. It leverages Angular for the front-end interface and integrates with a JSON server for back-end data management, ensuring a responsive and user-friendly experience.
        </p>
    </div>
</div>
